@import "../../mixin";
@import "../../typography&variables";

.subheader {
  display: flex;
  @include respond(phone) {
    justify-content: center;
  }
  span {
    margin-right: 2.8rem;
    opacity: 0.3;
    @include respond(phone) {
      margin-right: 1.8rem;
    }
  }
}
