@import "../../mixin";
@import "../../typography&variables";

.crew-page {
  color: $color-white;
  background-image: url(../../assets/crew/background-crew-desktop.jpg);
  @include background;

  @include respond(tab-land) {
    padding: 21.2rem 6rem 0rem 10rem;
  }
  @include respond(tab-port) {
    padding: 13.6rem 3.85rem 0rem 3.85rem;
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
  }
  @include respond(phone) {
    padding: 88px 2.4rem 0rem 2.4rem;
    background-image: url(../../assets/crew/background-crew-mobile.jpg);
  }
}
.glide {
  margin: 21.2rem 16.5rem 0rem 16.5rem;
  &__track {
    // width: 100%;
    // overflow: visible;
    // position: relative;
  }
  &__slides {
  }
  &__arrows {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include respond(phone) {
      display: none;
    }
  }
  &__arrow {
    color: white;
    opacity: 0;
    font-size: 8rem;
    line-height: 0.8;
    height: 100vh;
    width: 20vw;
    display: flex;
    // display: none;
    align-items: center;
    cursor: pointer;

    &:hover {
      transition: opacity 0.4s;
      opacity: 0.7;
      @include respond(phone) {
        display: none;
      }
    }
    &--left {
      margin-left: 2rem;
    }
    &--right {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
    }
  }
}
